body{
      font-family: sans-serif;
}

#titlehead{
      font-size: 200%;
      font-family: sans-serif;
      font-weight: bold;
}
#bib{
      font-size: 90%;
}

.def{
      padding: 0.5%; 
      margin-bottom: 0.5%; 
      border-left: solid 0.3em #c8c84a; 
      background-color: #ffff99;
}
.prp{
      padding: 0.5%; 
      margin-bottom: 0.5%; 
      border-left: solid 0.3em #597dff; 
      background-color: #b2f9ff;
}
.exr{
      padding: 0.5%; 
      margin-bottom: 0.5%; 
      border-left: solid 0.3em #59c859; 
      background-color: #b2ffb2;
}
.fct{
      padding: 0.5%; 
      margin-bottom: 0.5%; 
      border-left: solid 0.3em #646464; 
      background-color: #c8c8c8;
}


ul.defl{
      list-style-type: lower-roman;
}
