* { 
    margin: 0px; 
    padding: 0px; 
}

.mathemaru{
	width:100%;
	position:fixed; 	
	top:0; left:0; 
	padding:5px 0; 
	opacity:.8; 
	background:#abf; 
	z-index:1
}
.mathemaru a{
	color:#000; text-decoration:none; font-weight:bold;
}
.mathemaru a:hover{color:#dfdfdf;text-decoration:underline}

.boxes{
	border-left: solid 0.5em transparent;
	border-right: solid 0.5em transparent;
}

.modeln{
	background: #000000;
	color: #FFFFFF;
	font-size: 200%;
	font-family: sans-serif;
	font-weight: bold;
	margin-top:3%;
}
.modelx{
      border-left: solid 0.3em #000000;
      border-right: solid 0.3em #000000;
      border-bottom:0.3em solid #000000;
      background:#c8c8c8;
      color:#000000;
      font-size: 14px;
      font-weight: normal;
      padding:10px;	
}

.def{
      border-left: solid 0.3em #7b7b35; 
      border-bottom:0.1em solid #7b7b35;
      background-color: #ffff99;
      color:#000000;
      font-weight: normal;
      padding:10px;
}
.deftl{
      background:#7b7b35;
      border:1px solid #7b7b35; 
      padding-left:5px;
      font-weight:bold;
      color:#FFFFFF;
}

.prp{
      border-left: solid 0.3em #23237b;
      border-bottom:0.1em solid #23237b;
      background-color: #b2f9ff;
      color:#000000;
      font-weight: normal;
      padding:10px;
}
.prptl{
      background:#23237b;
      border:1px solid #23237b; 
      padding-left:5px;
      font-weight:bold;
      color:#FFFFFF;
}

.footer{
	background:#abf;
	padding:30px;
}
