body{
      font-family: sans-serif;
      font-size: 14px;
}

* { 
    margin: 0px; 
    padding: 0px; 
}

.mathemaru{
	width:100%;
	position:fixed; 	
	top:0; left:0; 
	padding:5px 0; 
	opacity:.8; 
	background:#abf; 
	z-index:1
}
.mathemaru a{
	color:#000; text-decoration:none; font-weight:bold;
}
.mathemaru a:hover{color:#dfdfdf;text-decoration:underline}

.boxes{
	font-size: 14px;
	border-left: solid 0.5em transparent;
	border-right: solid 0.5em transparent;
}

.modeln{
	background: #000000;
	color: #FFFFFF;
	font-size: 200%;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 40px;
}
.modelx{
      border-left: solid 0.5em #000000;
      border-right: solid 0.5em #000000;
      border-bottom:0.1em solid #000000;
      background:#c8c8c8;
      color:#000000;
      font-size: 14px;
      font-weight: normal;
      padding:10px;	
}
.modelf{
	text-align: right; 
	font-size: 14px; 
	font-weight: normal; 
	border-right: solid 0.5em #000000;
}
.dtl{
      border:1px solid transparent; 
      padding-left:5px;
      font-weight:bold;
      color:#FFFFFF;
      font-size: 14px;
}

.def{
	background: #7b7b35;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.def #tx{
      border-left: solid 0.8em #7b7b35;
      border-bottom:0.1em solid #7b7b35;
      background-color: #ffff99;
      color:#000000;
      font-weight: normal;
      padding:10px;
}

.prp{
	background: #23237b;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.prp #tx{
      border-left: solid 0.8em #23237b;
      border-bottom:0.1em solid #23237b;
      background-color: #b2f9ff;
      color:#000000;
      font-weight: normal;
      padding:10px;
}

.exm{
	background: #237b23;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.exm #tx{
      border-left: solid 0.8em #237b23;
      border-bottom:0.1em solid #237b23;
      background-color: #b2ffb2;
      color:#000000;
      font-weight: normal;
      padding:10px;
}

.fct{
	background: #646464;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.fct #tx{
      border-left: solid 0.8em #646464;
      border-bottom:0.1em solid #646464;
      background-color: #c8c8c8;
      color:#000000;
      font-weight: normal;
      padding:10px;
}
.fct #cortx{
      border-left: solid 0.3em #646464;
      border-right: solid 0.3em #646464;
      border-bottom:0.3em solid #646464;
      background-color: #c8c8c8;
      color:#000000;
      font-weight: normal;
      padding:10px;
}

ul.defl{	
	margin-top: 5.6px;
	margin-left: 3em;
	margin-bottom: 5.6px;
	list-style-type: lower-roman;
}

ol.q{	
	margin-top: 5.6px;
	margin-left: 3em;
	margin-bottom: 5.6px;
}

ol.q li {
	list-style-type: none;
	counter-increment: cnt;
	position: relative;
}
 
ol.q li::before {
	content: "(" counter(cnt) ")　";
	display: inline-block;
	margin-left: -2.5em;
	width: 3em;
	text-align: right;
	top: 0;
	left: 0;
}

.footer{
	background:#abf;
	padding:30px;
}
